* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p{
  padding-bottom: 1em;
}

p:last-child{
  padding-bottom: 0px;
}

a{
  color: #355594;
}

a:visited{
  color: #355594;
}

a:hover{
  text-decoration-line: none;
}

strong{
  color: #355594;
}

ol{
  list-style-position: inside;
  color:
  }

ol > li{
  padding-bottom: 1em;
}

ol > li:last-child{
  padding-bottom: 0px;
}

hr.left{
  border-top: solid 2px #355594;
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 70%;
  }

hr.left:after {
  	content: '';
  	display: block;
  	margin-top: 3px;
    border-top: solid 2px #355594;
    width: 95%;
  }

hr.right{
  margin-left:30%;
  border-top: solid 2px #355594;
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 70%;
}

hr.right:after {
  	content: '';
  	display: block;
  	margin-top: 3px;
    border-top: solid 2px #355594;
    width: 95%;
    margin-left: 5%;
  }

.page{
  display: flex;
  flex-direction: column;
  font-family: Lato, sans-serif;
  font-size: 12;
  color: #444444;
}

.header{
  background-color: #132447;
  color: white;
}

.main_menu{
  background-color: white;
  color: #444444;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
}

.menu_list> li{
  display: inline;
  text-align: left;
  list-style: none;
  padding: 5px 15px 5px 15px;
  border-top: solid 1px black;
  border-right: solid 1px black;
  border-left: solid 1px black;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  }

  .menu_list > li > a {
    text-decoration: none;
  }

  .menu_list> li > a: visited{
    text-decoration: none;
  }

  .active{
    background-color: #132447;
    }

  .inactive{
    background-color: #c2c2c2;
  }

  .active > a{
    color: white;
  }

  .inactive > a{
    color: #444444;
  }

  .short{
    display: none;
  }

.name{
  margin-left: 20px;
  padding-bottom: 20px;
  border-bottom: solid 2px #355594;
  position: relative;
  margin-right: 20px;
}

.name:after{
  content: '';
  display: block;
  margin-top: 25px;
  border-top: solid 2px #355594;
  width: 90%;
  position: absolute;
}

.presentation{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  padding-top:20px;
  }

.portrait{
  width: 150px;
  border-radius: 50%;
  border-style:double;
  border-color: #355594;
  border-width: thick;
  }

.illustration{
  padding-top: 20px;
  width: 320px;
  }

.submenu{
  background-color: #132447;
  color: white;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 20px;
  }

.submenu > li{
  display: inline;
  text-align: justify;
  list-style: none;
  padding-right:10px;
  border-right: solid 1px white;
  margin-left: 10px;
}

.submenu > li:last-child{
  padding-right:0px;
  border-right: none;
}

.submenu > li:first-child{
  margin-left: 0px;
}

.menu_break{
  display: none;
}

.submenu > li > a{
  text-decoration: none;
  color: white;
}

.submenu > li > a:hover{
  text-decoration: underline;
  color: white;
}

.submenu > li > a:visited{
  text-decoration: none;
  color: white;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  }

.about_me{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  }

.subtitle_column_left{
  display: flex;
  flex:initial;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: flex-start;
  width: 35%;
  color: #355594;
  padding-top: 40px;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 1.5em;
  padding-right: 20px;
  }

.subtitle_column_right{
  display: flex;
  flex: initial;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: flex-end;
  width: 35%;
  color: #355594;
  padding-top: 40px;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-align: right;
  font-size: 1.5em;
  padding-left: 20px;
  }

.text_column_left{
  flex-shrink: 0;
  width: 65%;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: justify;
  color: #444444;
    }

.text_column_right{
  flex-shrink: 0;
  width: 65%;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: justify;
  }

.footer{
    background-color: #132447;
    min-height: 60px;
    padding-top: 20px;
    margin-top: 20px;
    color: white;
    font-size: 12px;
  }

.copyright_notice{
  padding-left: 20px;
}

@-moz-document url-prefix() {
  @media only screen and (max-width: 420px) {

  hr.right{
    margin-left: 0%;
  }

  hr.right:after{
    margin-left: 0%;
  }

  .submenu > li:last-child{
    margin-left: 0px;
  }

  .main_menu{
    padding-left: 0px;
  }

  .menu_break{
    display: block;
  }

  .submenu{
    line-height: 150%;
  }

  .about_me{
    flex-direction: column;
  }

  .subtitle_column_left{
    width: 100%;
    padding-bottom: 0px;
  }

  .presentation{
    padding-left: 10px;
    maring-right: 10px;
  }

  .subtitle_column_right{
    width: 100%;
    text-align: left;
    justify-content: flex-start;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .text_column_left{
    order: +1;
    width: 100%;
    padding-top: 20px;
  }

  .text_column_right{
    width: 100%;
    padding-top: 20px;
  }

}
}

@media only screen and (min-width: 421px) and (max-width: 960px) {

  .presentation{
    padding-left: 20px;
    }

  .main_menu{
      padding-left: 0px;
    }
  }

@media only screen and (min-width: 961px) {
  .content {
    width: 940px;
    margin: 0 auto;
  }

  .presentation{
    width: 940px;
    margin: 0 auto;
    padding-left: 20px;
  }

  .menu_list{
    width: 940px;
    margin: 0 auto;
  }

  .submenu{
    width: 940px;
    margin: 0 auto;
  }

  .copyright_notice{
    width: 940px;
    margin: 0 auto;
  }
}
